* {
    margin : 0%;
    padding : 0%;
}
body  {
    background-image: url('https://images6.alphacoders.com/538/538124.jpg');
    
    background-repeat: no-repeat;
    padding: 0px;
    margin: 0px;
    top: 0%;
    left: 0%;
    font-family: 'Poppins', sans-serif;
    z-index: -2;
}
#overlay2 {
    width: 100%;
    height: 100%;
    background-color: black;
    top: 0%;
    left: 0%;
    opacity: 0.5;
    z-index: -1;
    position: fixed;
    display: block;
}
#navbar {
    background-color: #df5151;
    color: black;
    padding: 15px;
    text-align: left;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.505);

}

.contents {
    color:white;
    margin: 20px;
    padding: 15px;
    background-color:black;
    border-style: none;
    border-radius: 10px;
    width: 25%;
    height: 25%;
    display: inline-block;
    vertical-align: top;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.505);
}
.contents button{
    background-color: #df5151;
    color: black;
    border: none;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.contents button:hover {
    background-color: grey;
    color: black;
}
.contents h1{
    color: #df5151;
}
#add-btn {
    background-color: #df5151;
    color: black;
    border: none;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
    border-radius: 100%; 
    width: 60px;
    height: 60px;
    bottom: 10px;
    position: fixed;
    right: 10px;
    transition: 200ms;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.505);
    
}
#add-btn:hover{
    width: 65px;
    height: 65px;
    
    background-color: grey;
    transition: 250ms;
    bottom: 8px;
    right:8px;
}
#overlay {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}
#popup-container {
    background-color:#df5151;
    width: 40%;
    height: 42%;
    position: fixed;
    border-radius: 10px;
    text-align: center;
    top : 25%;
    right : 30%;
    left : 30%;
    z-index: 2;
    display:none;
}

#popup-container input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    height: 60%;
    margin: 10px 5px 2px 5px;
    padding: 10px;
}
#popup-container input:focus ,#popup-container textarea:focus {
    outline: none;
}

#popup-container textarea{
    width: 80%;
    height: 50px;
    margin: 10px;
    margin-bottom: 1%;
    padding: 10px;
    background-color: transparent;
    border: 2px solid black;
} 
#popup-content ::placeholder {
    color: black;
    font-size: large;
}

#popup-btn button{
    background-color: black;
    margin-top: 0%;
    bottom: 10%;
    width: 80px;
    color: #df5151;
    border: none;
    font-size: medium;
    padding: 10px;
    margin-bottom: 20%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 10px;
}
#popup-btn button:hover {
    background-color: grey;
    color: black;
}
#popup-head{
    color: black;
    margin-top: 2px;
}

/*popup-container2*/

#popup-container2 {
    background-color:#df5151;
    width: 40%;
    height: 42%;
    position: fixed;
    border-radius: 10px;
    text-align: center;
    top : 25%;
    right : 30%;
    left : 30%;
    z-index: 2;
    display:none;
}

#popup-container2 input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    width: 80%;
    height: 60%;
    margin: 10px 5px 2px 5px;
    padding: 10px;
}
#popup-container2 input:focus ,#popup-container2 textarea:focus {
    outline: none;
}

#popup-container2 textarea{
    width: 80%;
    height: 50px;
    margin: 10px;
    margin-bottom: 1%;
    padding: 10px;
    background-color: transparent;
    border: 2px solid black;
} 
#popup-content2 ::placeholder {
    color: black;
    font-size: large;
}

#popup-btn2 button{
    background-color: black;
    margin-top: 0%;
    bottom: 10%;
    width: 80px;
    color: #df5151;
    border: none;
    font-size: medium;
    padding: 10px;
    margin-bottom: 20%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    border-radius: 10px;
}
#popup-btn2 button:hover {
    background-color: grey;
    color: black;
}
#popup-head2{
    color: black;
    margin-top: 2px;
}
#footer-container {
    padding-right: 10px;
    margin: 0%;
    width: 100%;
    height: 10%;
    bottom: 0%;
    left: 0%;
    position: static;
    background-color: #df5151;
    text-align: center;
    padding-bottom: 0%;
    margin-top: 100%;
}
#foot{
    padding: 10px;
    margin: 10px;
    margin-bottom: 0px;
    bottom: 0%;
    font-size: medium;
    font-weight: 500;
}